@import 'tailwindcss';

@theme {
  --breakpoint-md: 850px;
  --color-dark: #18353f;
  --Martian-Mono: 'Martian Mono', serif;
  --color-gradient-1:#d07741;
  --color-gradient-2:#062630;
  --inter: 'Inter', serif;
  --color-salmon-100:#ff9a60 ;
}
button{
  font-family: inherit;
}
body{
   font-family:var(--inter);
}
html {
  scroll-behavior: smooth;
}
@utility heading {
  font-family:var(--Martian-Mono);
  @apply text-4xl leading-14 md:text-[3rem] font-bold md:leading-18 bg-clip-text text-transparent bg-gradient-to-r from-gradient-1 to-gradient-2;
}
@utility subHeading{
  font-size:2rem;
  font-family:var(--Martian-Mono);
  @apply text-4xl font-semibold leading-14;
}
p{
  @apply leading-8;
}
.lightsalmongradient {
  background-image: linear-gradient(
    133deg,
    #fff5ef 34%,
    rgba(143, 184, 186, 0.564) 100%
  );
}
.bg {
  background-image: url('/assets/images/pattern-light-bg.svg'),
    linear-gradient(133deg, #fff5ef 34%, #fff5ef 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.bg2 {
  background-image: url('/assets/images/pattern-dark-bg.svg'),
    linear-gradient(133deg, #062630, #062630);
  background-size: cover;
  background-position: center;
}
.checkboxes li {
  margin-bottom: 1.6rem;
  padding-left: 2.4rem;
  position: relative;
}
.checkboxes li::before {
  content: url('/assets/images/icon-check.svg');
  position: absolute;
  right: 0.2rem;
  width: 100%;
  height: 100%;
  top: 6px;
}
.circle::before {
  content: url('/assets/images/pattern-circle.png');
  position: absolute;
  width:80px;
  height: 80px;
  top: 0;
  left: -20px;
}

.journey:not(:last-of-type)::after {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: -45px;
  @apply content-[''] md:content-[url('/assets/images/pattern-arrow.svg')];
}



button {
  @apply  outline-[0.05rem] border-[3px] transition-all duration-300;
}

button:hover,
button:focus-visible{

  @apply border-salmon-100 border-[3px]   outline-salmon-100 outline-offset-[.4em] text-white bg-salmon-100;
}

